

	<form action="ajaxDone1.html" data-toggle="validate">

	    <p><label class="x85">用户身份：</label><select name="role" data-rule="required" data-toggle="selectpicker">

	            <option value=""></option>

	            <option value="a">管理员</option>

	            <option value="b">项目负责人</option>

	            <option value="c">执行人</option>

	        </select>

	    </p>

	    <p><label class="x85">登录名：</label><input type="text" name="username" data-rule="required" data-tip="你好啊，请填写用户名" data-ok="用户名可用" placeholder="登录名"></p>

	    <p><label class="x85">密码：</label><input type="password" name="password" data-rule="required;" placeholder="登录密码"></p>

	    <p><label class="x85">记住：</label><input type="checkbox" name="remember" value="true" id="doc-validate-remember" data-toggle="icheck" data-rule="checked" data-label="记住登陆信息"></p>

	    <p><hr></p>

	    <p><label class="x85"></label><button type="submit" class="btn-default">提 交</button></p>

	</form>
	
	

	<table class="table table-bordered table-hover table-striped table-top" data-toggle="tabledit">

	    <thead>

	        <tr>

	            <th title="文本框"><input type="text" name="test[#index#].a1" placeholder="文本框"></th>

	            <th title="复选框">

	                <input type="checkbox" name="test[#index#].a2" id="doc-test-a2-1[#index#]" data-toggle="icheck" value="k1" data-label="选项一">

	                <input type="checkbox" name="test[#index#].a2" id="doc-test-a2-2[#index#]" data-toggle="icheck" value="k2" data-label="选项二">

	            </th>

	            <th title="下拉菜单">

	                <select name="test[#index#].a3" data-toggle="selectpicker">

	                    <option value="a">甲</option>

	                    <option value="b">乙</option>

	                    <option value="c">丙</option>

	                </select>

	            </th>

	            <th title="功能按钮"><button type="button" class="btn btn-default" data-toggle="dialog" data-url="doc/table/test.html" data-id="dialog-test" data-title="我的测试页面">打开测试</button></th>

	            <th title="" data-addtool="true" width="100">

	                <a href="ajaxDone2.html" class="btn btn-red row-del" data-confirm-msg="确定要删除该行信息吗？">删</a>

	            </th>

	        </tr>

	    </thead>

	    <tbody>

	        <tr>

	            <td>AAA</td>

	            <td data-val="k2"></td>

	            <td data-val="c"></td>

	            <td data-original="true">--</td>

	            <td>--</td>

	        </tr>

	    </tbody>

	</table>
	
	

<textarea data-toggle="kindeditor" data-items="fontname, fontsize, |, forecolor, hilitecolor, bold, italic, underline, removeformat, |, justifyleft, justifycenter, justifyright, insertorderedlist, insertunorderedlist, |, emoticons, image, link"></textarea>